<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="font-data.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <title>Monospace fonts for math</title>  
  </head>
  <body>
    <div class="sidenav">
      <div class="content">
        <h3>Font</h3>
        {{#:fonts}}
        <a href="#{{:name}}">{{:name}}</a>
        {{/:fonts}}
      </div>
    </div>
    <div class="main">
      <div class="content">
        <h1>Math symbols in monospace fonts</h1>
        <p>
        This page shows how some monospace fonts compare when rendering Unicode
        text, in particular mathematical symbols.
        </p>
        <p>
        Font comparators usually show glyphs as rendered by the browser on the
        user's platform, using other fonts as fallback for glyphs missing from
        the selected font. This might well be what you want: text is shown as
        it would actually look like on your computer (in the browser at least).
        However the same text might look different on another computer, if
        different fonts are used as fallback.
        </p>
        <p>
        In contrast, this page shows samples rendered without fallback to other
        fonts in cases of missing glyphs. What you see is what's actually
        supported by each font.
        </p>
        <p>
        Here are some other comparators:
        </p>
        <p><a href="https://devfonts.gafi.dev/" class="showurl"></a></p>
        <p><a href="https://www.programmingfonts.org/" class="showurl"></a></p>
        <p><a href="https://coding-fonts.css-tricks.com/" class="showurl"></a></p>

        <h2>Samples</h2>
        <p>
        Renderings were generated from <a href="samples.jl">these Unicode
          samples</a> on Linux using HarfBuzz (<code>hb-view</code>) with the
        <code>ot</code> shaper. The symbol lists are derived from <a
          href="https://en.wikipedia.org/wiki/Mathematical_operators_and_symbols_in_Unicode">here</a>.
        </p>
        <p>
        The <code>\...</code> annotations correspond to Julia completion
        prefixes.
        </p>
        <p>Use the left pane to change the font.</p>
        <p>
        Current font: <span id="current_font"><span id="font_name"></span>
          (version <span id="font_version"></span>)</span>.
        </p>
        {{#:samples}}
        <img src="{{{.}}}"/>
        {{/:samples}}
      </div>
      <p class="footer">
      Contact: <a href="mailto:knuesel@gmail.com">knuesel@gmail.com</a> —
      <a href="https://github.com/knuesel/mono-math/">github.com/knuesel/mono-math</a>
      </p>
    </div>
  </body>
</html>

